.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: #080F22;
  color: #8CABE6;
  display:flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.navbar > a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

body{
  background-color: #172136;
}

.registerform{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5rem 2rem;
}
.registerform > input {
  min-width: 80%;
  margin: 0.8rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1.5rem;
  background-color: #313E59;
  border: 0.2em solid transparent;
}
.submitbutton{
  background-color: #222E45 !important;
  border: 0.2em solid transparent;
  color: white;
}
.submitbutton:hover{
  cursor:pointer;
  background-color: #7B9CB3 !important;
  font-size: 1.4rem;
}